:root {
  --color-blue: #0f52ba;
  --color-gray: #eee;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #373737;
  --color-middle-gray: #BFBFBF;
  --font-weight-product-title: 400;
  --font-weight-product-desc: 300;
}